#root, html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}
.app{
    height: 100%;
    background: url('./images/Untitled\ design\ \(2\).png');
    background-color: rgba(0, 0, 0, 0.268);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card{
    background: rgba(152, 152, 152, 0.355); /* Background color with transparency */
    backdrop-filter: blur(10px); /* Apply blur effect */
    border-radius: 10px; /* Optional: Add rounded corners */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 0.5px solid rgba(255, 255, 255, 0.527);
    width: 40%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    padding: 2%;
}
.heading{
    display: flex;
    align-items: center;
    height: 500px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
}
.button {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 200px;
  width: 210px;
  opacity: 1;
  background-color: #03030355;
  border: 1px solid rgba(255, 255, 255, 0.6);
}
  
.button span {
  color: white;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}
  
.button:hover {
  animation: rotate 0.7s ease-in-out both;
}
  
.button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}
  
@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
  
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}  

@media only screen and (max-width: 600px){
    .card{
        width: 80%;
        height: 30%;
    }
}